doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: July agenda
    body 
        h1 July agenda
        

        h2 Meeting opening
        
        h3 _Attendance and apologies
        h3 _Conflict of interest disclosure
        h3 _Minutes of the previous meeting
        h3 _Matters arising from the minutes of the previous meeting

        h2 Matters for decision

        h3 Conduct - Neil Gregory

        p Neil Gregory's behaviour toward the board warrants discussion and possible action. 
		
        p Timeline: 
        ul
            li Board sends out thank you
            li Neil sends a message
            li Neil send complaint
            li David responds saying it will be treated like a complaint
            li Neil sends a message

        h3 Warriors mat purchase

        p The Warriors club are closing down. They own 50% of their mat. It was purchased for around $13,000 in 2016/2017.

        h2 Matters for discussion

        h3 Erica Carlize update on Admin & Co
        
        h3 _Finance reports

        h3 UWW Grappling

        p Wrestling Australia will be the governing body for UWW Grappling

        p Full official rules can be found 
            a(href='https://uww.org/sites/default/files/2021-01/210122_gp_regulations_en_0.pdf') here.

        p A short primer of the rules can be found 
            a(href='https://www.flograppling.com/articles/6246822-a-guide-to-uww-grappling-rules-leg-reaping-in-the-gi-big-takedowns') here.

        h3 * On-tournament fundraising
        
        p If people come to the tournament with a table asking for fundraising, we can support that on the day? Check Herb Graham policy. Rick thinks: fundraising policy and procedure, for consistency.

        h3 * WWA board nominations

        h3 * Membership trial period

        p At some clubs, participants are required to sign up with the association before engaging on the mat for insurance purposes. Also, a "trial" period may encourage more signups if there is less of a commitment cost. 

        h3 * Governance charter

        h3 * Medals quote
        
        a(href='medals.html') Quote

        h3 Venue

        p Consideration to other venues than Herb Graham? 
        
        h3 Tournament review: WA Cup
        
        p Review of changes made to running of tournament.
        ul
            li Boundaries
            li Coaches' meeting
            li Volunteers
            li Recordings
            li Digital scoreboard

        p Don't delete footage of matches - there's plenty of room and battery. Footage is important for complaints. Have the same policy as scoresheets - keep until next tournament.

        h3 National AGM

        p AGM on the 15th August 7pm AEST. 	Two delegates from each state. Agenda will be emailed on the 18th July.

        h2 Matters for noting
        h3 David attended a meeting by the DLGSCI on Covid-19
        h3 Jessica has resigned        
        p She wasn't handling anything for the board outside of on-tournament duties. 
	
        h3 
            a(href='https://www.ais.gov.au/survey/wellbeing-health-check') AIS Wellbeing Health Check
        p Australian Institute of Sport (AIS). For the first time in Australian sport, the AIS Wellbeing Health Check National Sporting Organisations funded by the AIS will complete the Wellbeing Health Check twice every four-year Games cycle. While the program will commence for some sports this month, most will take place after the Tokyo Games. 

	        
        h2 Next meeting

        h2 Meeting closed