doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Medal providers
            
    body
        h1 Medal Providers

        h2 Epic Medals

        h3 Cost

        p Cost will be dependent on colours and finish and how much the medal weighs however here are some examples.

        table
            tr
                td
                    img(src='images/Picture1.jpg' width='180px')
                td
                    img(src='images/Picture2.jpg' width='180px')
                
        p I have attached a picture of a medal we have recently done for Australian Masters Games which shows you the different sizes. The Swan is a 75mm medal (3mm thick) and the one next to it is 65mm. As a guide the cost is likely to be approx:
        
        p Mould: $250
        p Medal cost per medal: $6.50
        
        p This includes all design costs, full colour sublimated ribbon, production and freight. This is for a medal the size of the Masters Games swan medal but I have quoted for an antique finish without enamel colour (similar to the Volleyball NSW medal attached). If you have less budget than this we can work with you to decrease the weight and size of the medal. If you have a bigger budget than this we can look at a thicker / heavier medal and what colours you may / may not want.
        
        p You would only need to pay the mould cost once so the first 100 order would be: $900 and the following orders of 100 after this would be $650. Ideally we would produce them for the year all at once.
        
        h3 Differentiation between tournaments:

        p Yes we can differentiate in a number of ways. We can change the ribbon per event (no additional cost) and we can do laser engraving on the back as part of the medal production which can differentiate e.g. age, gender, weight category. Sometimes for Volleyball NSW we laser engrave and other times we leave these blank and they purchase the adhesive tags from a local trophy shop. The text for the laser engraving attached is white however we do this in black as well.
        
        p Attached are two medals that are almost the same however the text on the front differentiates the events. This requires an additional mould however if you have these events each year it may be worthwhile as the mould is $200 but that’s a one-off cost. So you may want to do 4 x moulds for the 4 x events but you can keep these and produce medals year on year without paying the additional mould cost.
        
        table
            tr
                td
                    img(src='images/Picture3.jpg' width='180px')
                td
                    img(src='images/Picture4.jpg' width='180px')
                td
                    img(src='images/Picture5.jpg' width='180px')

        p We currently pay around $6.92/medal including shipping. This are not Wrestling WA specific medals and at times I have to buy different styles as the ones I want are out of stock.
