doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: February
    body 

        
        h1 February agenda
        
        section
            pre.

        section 
            h2 Meeting opening

            h3 Attendance and apologies

            h3 Conflict of interest disclosure
            
            h3 Minutes of the previous meeting
            p Minutes can be found 
                // minutes
                a(href='https://client.revolutionise.com.au/wwa/reports/meetings/minutes/11597/') here

            h3 Matters arising from the minutes of the previous meeting
            
            h3 Finance report

        section
        
        section
            h2 Matters for decision
            // attach details

            h3 Covid vaccination proof
            p Two events of importance: February social night, and March tournament
            
            h3 March Tournament
            p Topics to discuss: 
            ul
                li City of Stirling needs primary contact to be vaccination-proofed (for Herb Graham)

            h3 Fountain College
            p Fountain College in Ferndale expressing interest in signing up 10 juniors for this comp and joining assoc
            
            h3 Oceania selection event in Perth 20th Feb
            

        section
            h2 Matters for discussion
            h3 Oceania Selection 
            
        section
            h2 Matters for noting
            h3 Talent program opens for women coaches, sport executives
            h3 2022 oceania champs selection event and training in canberra cancelled
            h3 Kickass MMA changed address

            
        section
            h2 Next meeting