doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: February
    body 
        h1 February agenda
        
        section
            pre.

        section 
            h2 Meeting opening

            h3 Attendance and apologies
            ninutes Lance Kinnaird, Chris Butler, David Barns, Chris Samios, Erica May

            h3 Conflict of interest disclosure
            minutes 
                ul 
                    li Erica Herb Graham confirm DON'T REQUIRE double vax proof because they're community sport, but Erica is not vaxxed
            
            h3 Minutes of the previous meeting
            p Minutes can be found 
                // minutes
                a(href='https://client.revolutionise.com.au/wwa/reports/meetings/minutes/11597/') here
                minutes Board accepts minutes

            h3 Matters arising from the minutes of the previous meeting
            
            h3 Finance report

        section Social Media
            minutes 
                ul
                    li Going really well, more engagement, people are seeing stuff and talking to Lance in person.
                    li Mainly: awards night & march 20th comp. Additional promotional?
                    li 6 tickets sold, but catering for 100
                    li Lance will do this: Specific newsletter (maybe 2 over the next 2 weeks, plus final reminder)
                    li Scheduled posts about awards night to go out + boost it
                    li Coaches? 
                    li Awards recipients? They need to come
                    li Nomination categories, especially for individual awards
                    li Coaches to make sure that awards recipients to come along
                ul
                    li March 20 comp
                    li Meeting Carlize with SmoothComp tomorrow
                    li Every few days will do a post
                    li Once the rego link is up, do a separate email so that everyone knows it's open
                    li 
            minutes
                action lance landing page
                action automate revolutionse signups to mailerlite, put a popup on website

        section social night
            h3 social night
            minutes
                ul
                    li food will be laid out on the table but not being served
                    li will food all be available?

        section
            h2 Matters for decision
            // attach details

            h3 Covid vaccination proof
            p Two events of importance: February social night, and March tournament
            p Summary from SportWest briefing (no replies back from Dept. yet)
            minutes about social night: the venue is clear on the rules
            minutes "take it on notice", event organisers are responsible for checking
            minutes $50k fine if there is a violation
            action david will check if they have hand san etc. confirm with mack from Subiaco
            minutes medical exemption, allowed to come in? 
            minutes same apps as proof
            
            p 20th March
            minutes Herb Graham - some people have asked if double vaxx is required
            minutes because community, WWA is exempt (staff will be told)
            minutes BUT as an org, how do we want it to look?
            minutes rules: not allowed to wrestle if you have contagious disease. onus is on wrestler. if they are vaxxed, they can still transmit. 
            minutes can take temperature at weigh in
            minutes competitors need to be double vaxxed
            minutes consultant says that spectators are not required to be double vaxxed. a number of sports continuing this way. 
            minutes complication: equipment. e.g. golf, and weightlifting. golf is outdoors, doesn't matter if competitors are vaxxed, but weightlifting, it's about EQUIPMENT (share equipment, contamination). weightlifting DO need people vaxxed. the mat? have it cleaned? regular cleaning during the day? 
            minutes he saw no problem with continuing, this can continue. 
            minutes require masks: yes on both events
            minutes for coaches? e.g. teachers no mask if giving instruction. that will be like a teacher. 

            
            minutes no need to participate or spectator to be double vaxxed as indicated by herb graham and dept
            minutes they need to be healthy on the day
            minutes temperature test cutoff? but you could carry it 
            minutes will inform wrestler in advance
            minutes we will do a risk analysis beforre tournament because things can change significantly 
            action set up this risk analysis
            action screening questions? poster? 
            action David get a copy of questions from school
            action Lance schedule post for screening questions before the tournament
            
            h3 March Tournament
            p Topics to discuss: 
            ul
                li Who will be event organiser?
                li Smoothcomp?
                    p Lance and alan trialling at Gladiators March tournament
                li City of Stirling needs primary contact to be vaccination-proofed (for Herb Graham)
            minutes Lance meeting Carlize about Smoothcomp
            minutes Carlize will run tournament with help with Lance and Erica
            minutes Primary contact nees to be vaxxed - no longer

            h3 Fountain College
            p Fountain College in Ferndale expressing interest in signing up 10 juniors for this comp and joining assoc
            minutes
                ul
                    li target group, 6-7 years old
                    li seemed like Gladiators is a logical venue
                    li no girls wrestling
                    li possibly for boys who aren't engaged at school
                    li can we get them on the mat before the tournament? then what can we do for
                    li if this is do happen, we want to BE IN CHARGE OF IT
                    li what if instead of training, training coaches instead? get them started
                    li we have a mat, why not let them store it
                    li they have a mat that's suitable but not a proper wrestling mat
                    li Majella has jigsaw mats sitting idle
                    li the good mats need to be out of the hall because that building is being renovated
                
                action David to follow up with Fountain College

                li OK for us to make a little loss to invest 
                li 3 training sessions, 10 on the mat
            minutes
                ul
                    li ercan was following WWA on social media
                    li they're coming from a solid base of athletes, they need support
                    li conducting 3 intensive training sessions, need promotion
                    action promo intensive training session
                    action someone will get back to Lance about exact dates
                
            
            h3 Oceania selection event in Perth 20th Feb
            minutes
                ul
                    li Covid, borders closed, needs to be a selection event
                    li WAL don't want a repeat of financial loss
                    li Only one nomination, regs close tomorrow evening
                    li e.g. steve erceg, tj, tom, would need to register
                    li likely not to happen
                    li can anyone enter? aus citizen. just seniors.

            h3 Scrappy MMA
            p Would like to join as a club. However, the cornering coaches need to be WWA members. Do they join as WAL, individual member, or coach membership option?
            minutes
                ul
                    li how to ?
                    li erica said: can be added as a club right now, but are working towards affiliation. Might change in that time.
                    li coaches? WAL 
            
            h3 Category for coaches for not WAL coaches but who are just coaches
            minutes 
                ul 
                    li category for coaches who are coaches but not WAL coach?
                    li but WAL accrd is the bit that gives insurance
                    li he just doesn't have the piece of paper
                    li maybe just write resume and national says 'agree'
                action David will ask WAL on coaches and accrd
            


            
            h3 adam toole
            p fallen flat, northern suburbs club
            p but still looking to coach
            
            h3 Gifting referees who served for 3-4 tournaments?
            minutes
                ul
                    li bought gifts and cards and will provide 
            action Dyota to pick up trophies and gifts for social night


            h3 Succession planning
            minutes
                ul
                    li FUNDING is dependent on 3-4 or 4-3 for male-female
                    li rick smith: put out on seek volunteer on sports west to look for people to come onto the board
                    li for a certain of variety skillsets (e.g. finance, administrative/secretarial)
                    li advertise as well on WA website?
                    li Dyota indicated stepping off
                    li Erica stepping down, David is halfway through (in the middle of a 2-year)
                    li Erica is at the end of a cycle
                    li Carlize is in the middle of a term
                    li 
                action Dyota to prepare slide for David - all the hard work is done, just join the board and take the glory


            h3 AGM date and venue
            minutes
                ul
                    li possibly march 27th?

        section
            h2 Matters for discussion
            h3 Oceania Selection 
            h3 Australian Masters Games
            minutes
                ul
                    li WA only basis? not willing to run it on a WA only basis
                    li unclear on whether this will proceed
                    li don't have opening date for the state
                    li 23rd April
                    li expected that covid outbreak will peak around that time

            h3 DLGSC Annual acquittal process
            minutes 
                ul
                    li potentially 10k, or 30k
                    li make the effort to go to a Zoom meeting
                    li consultant can't do thursday or tuesday nights
                    li 16th of March wednesday 5 to 6.30 
                action David to send out acquittal invitation

                li Kurt 
                li southern baptist school
                li marcus carney coaching people with disabilities
                li rick smith
                li holding statewide tournaments with CALD things
                li last 12 months on CALD
                li 

            h3 National Grappling Committee
            minutes
                ul
                    li consultant is grappling committee, but he wasn't aware
                    li but don't want to be associated with department
                    li go to the grappling association first

        section
            h2 Matters for noting
            h3 Talent program opens for women coaches, sport executives
            h3 2022 oceania champs selection event and training in canberra cancelled
            h3 Kickass MMA changed address
            h3 TRUTH 
                minutes
                    ul
                        li brisbane 2nd march 
                        li karen to go to guam
                        li easier to travel out of there
                        li will merge with club out of murdoch uni (WA)
                        li truth banner without Neil at 20th March tournament
                        li 2 wrestlers out 
            
        section
            h2 Next meeting
            minutes March 10th (venue to be confirmed)

        section
            minutes
                ul
                    li what about social night registration on the night, pay online? yes
                