doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: December agenda
    body 
        //- REMEMBER TO PUT THE NAME OF THE PERSON WHO RAISES ISSUES

        h1 December agenda

        p David to organise the awards night.
        
        //- 
        section actions
            pre.
                [ ] yefsi book a quiet room
                [ ] first aid course records (how many attendees?) where is it kept?
        section 
            h2 Meeting opening
            minutes meeting opened 7:00

            h3 Attendance and apologies

            minutes lance

            h3 Conflict of interest disclosure

            
            h3 Minutes of the previous meeting
                p Minutes can be found 
                    // this is the november one already
                    a(href='https://client.revolutionise.com.au/wwa/reports/meetings/minutes/11329/') here
                p note to event info short sleeve (no mention of rashguard, no )
                p board affirms the minutes
            h3 _Matters arising from the minutes of the previous meeting
            
            h3 Finance report
            p 44k, expenses about 7k in October
            p includes $4k to Peet

        section
            h3 Lance
            p Wants to find out main outcome.
            p Lance has a part time graphic design/web dev; and a social media.
            p notes and actions
        
        section
            h2 Matters for decision

            h3 Tournament dates for next year #[i (Erica)]
            minutes Herb Graham all dates are available
            minutes 20 March, 26 June, 21 Aug, 27 Nov (third week)

            h3 KPIs for Lance Kinnaird (Digital Marketing Ninja) #[i (Erica)]
            p spectators
            p landing page

            h3 Youth wrestling up weight categories #[i (Chris Butler)]
            blockquote [There may be] a potential safety/risk issue that requires addressing via kids wrestling other kids 10 to 11 kg heavier…. [In the] youth national weight  categories [there is a] 11 kg gap between 42 kg and 53 kg at a number of youth age groups. Do we add a 47kg weight category after reviewing the actual weights of contestants?
            
            h3 Medals: go with connecting medals (decided out of sitting) #[i (Erica)]

        section
            h2 Matters for discussion
            h3 Australian Masters Games #[i (Erica)]
            minutes deed of variation 
            minutes $25 for non-members of WAL (just pay masters games entry)
            minutes (won't be )
            h3 From Rick Smith meeting:
                ul
                    li Child Safeguarding policy
                    li Sponsorship update
                    li Post-tournament report board meeting 
                        p (we won't have one until the following month, shall we do a special meeting?)

        section
            h2 Matters for noting
            h3 David attended Sports West AGM on 23rd November
            h3 Dyota attended Sports West industry update on COVID-19, key points emailed
            h3 Conflict of Interest forms filed away
                a(href='https://drive.google.com/drive/folders/1MCVwPbYMnq8dwxSXDg7AV955tbrUVw4V?usp=sharing') here: 
            | WWA Board Documentation > 2021 Archive > Conflict of Interest declarations
            h3 Confirmation: Masters Games age eligibility is #[i 30 by the end of the calendar year].
            H3 Social night BASED: bowling at Westfield Carousel in Cannington, Friday 26th November 2021 - participants to Youth Nationals are invited.            
       	
        section
            h2 Next meeting
            p 14th December 2021 at Yefsi 7pm

            h2 closed 8.55pm