doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: March
    body 
        h1 March agenda
        
        section
            pre.

        section 
            h2 Meeting opening

            h3 Attendance and apologies

            h3 Conflict of interest disclosure
            
            h3 Minutes of the previous meeting
            p Minutes can be found 
                // minutes
                a(href='https://client.revolutionise.com.au/wwa/reports/meetings/minutes/12181/') here

            h3 Matters arising from the minutes of the previous meeting
            
            h3 Finance report

        section
            h2 Matters for decision
            // attach details

            h3 
            
        section
            h2 Matters for discussion
            h3 United for Wrestling reschedule
            p Tournament originally scheduled for 20th March, but board decided unanimously to postpone on 6th March. 
            p At this stage, reschedule to 9th of May
            p Venue? 
            p We will need a new tournament director.

            h3 DLGSC Annual Organisation Performance Assessment and Recategorisation 
            p This is where we score ourselves and it will have an impact on funding for next three years - we could go from $10K to $35k /annum
            p Meeting booked in with Brett Rogers on 16th of March
            p Forms due on 14th of March
            p Forms:
            ul
                li #[a(href='https://dl-mail.ymail.com/ws/download/mailboxes/@.id==VjN-dnvWk8vElqkK-ooRTA8Zqor27TKjIunpsqpNIa544F0Kwb4eBuzU3LOkGmUH6g70MKmkp9ueTy7U9IR2ZTxe3Rh-J5C6LyUnkpuuSevalNc/messages/@.id==AKg0MrsAYuLrYiiFuwHUwA-w8qY/content/parts/@.id==2/raw?appid=YMailNorrin&ymreqid=554efc9a-6b3d-d5fd-1c5d-90000301c000&token=AAgca7aZIDK2VfEgvdn8_ZTL-D10_COQsQX2AoARjlbb90buPBprNEspDxnYAjpE_8tO4M-eRgjarE_ZXyb9UBmZSa2bgc4JhLLUhA33tXsT-Uw8OLmWzlp6I-XxB6Fz&error=https%3A%2F%2Fau.mail.yahoo.com%2Fd%2Fiframemsg%3Fid%3Ddownload-7016135658') Supporting Information - Annual Organisation Performance Assessment - State Sporting Associations - March 2022.xlsx]
                li #[a(href='https://dl-mail.ymail.com/ws/download/mailboxes/@.id==VjN-dnvWk8vElqkK-ooRTA8Zqor27TKjIunpsqpNIa544F0Kwb4eBuzU3LOkGmUH6g70MKmkp9ueTy7U9IR2ZTxe3Rh-J5C6LyUnkpuuSevalNc/messages/@.id==AKg0MrsAYuLrYiiFuwHUwA-w8qY/content/parts/@.id==3/raw?appid=YMailNorrin&ymreqid=554efc9a-6b3d-d5fd-1c5d-90000301c000&token=hQSg-eYYtV3mS74l4G2BrZvWhTrBNTjBhymdEYDUfWLOaRhlz1eMu1eEnKHsND7S_8tO4M-eRgjarE_ZXyb9UBmZSa2bgc4JhLLUhA33tXsT-Uw8OLmWzlp6I-XxB6Fz&error=https%3A%2F%2Fau.mail.yahoo.com%2Fd%2Fiframemsg%3Fid%3Ddownload-7740245202') Survey Question Set - Word Document - AOPA Process (1).docx]

        section
            h2 Matters for noting
            h3 WWA have withdrawn from AMG
            p Carlize Jankowitz has resigned from the board (received 09/03/2022)
            h3 DLGSCI asking about club affiliations to WWA in relation to KidSport
            p Asked about UFC Gym Balcatta (denied) and Truth (confirmed)
            
        section
            h2 Next meeting