doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: September agenda
    body 
        //- 
            Items to add:
            [x] From Chris: help Julian
            [x] From Erica: schedule for tournaments
            [x] From David: Peet Palm mats
            [x] actions
            [x] asset register add peet palm warriors mats
            [x] previous meeting mins link
            [ ] classification
        -// 
        h1 September agenda
        
        //- Section 
        h2 Meeting opening
        h3 Attendance and apologies
        h3 Conflict of interest disclosure
        h3 Minutes of the previous meeting
        p Previous meeting agenda is 
            //- put in correct link
            a(href='./attachments/minutes_august.pdf' target='_blank') here.
        h3 _Matters arising from the minutes of the previous meeting
        
        //- actions from last meeting here
        pre.
            David Barns
            [ ] offer Peet $4000 for mats
            [x] liaise with WAL re: Youth Nationals
            [ ] ask Rick Smith to review AMG indemnity form
            [ ] askRick Smith when he's available to meet with board to review Board Governance Charter
            [ ] organise meeting with Brett Rogers from DLGSCI re ongoing funding
            
            Erica May and Carlize Jankowitz
            [x] Send email to coaches re: volunteers for George Samios Cup
            [ ] liaise with Exclusive Trophies re: Individual High Performance Trophies
            
            Chris Samios
            [ ] Contact clubs and other combat sports re:attendance at AMG
            
            Dyota Tanuwibawa
            [ ] Arrange with David to keep Neil Gregory file somewhere accessible
            [ ] Draft up potential sites for holding tournaments, ask coaches for suggestions on where to hold tournaments other than Herb Graham
            [x] Hold meeting with board to discuss Governance Charter

        h3 Finance report

        //- Section
        h2 Matters for decision
        h3 Youth National to be hosted by WA if Victoria is not able to? 14#[sup th] November 2021. 
        p David: In short, [Andrew Kanatli wanted] to see if we could still be a back-up for this event should the 14 November date not be possible in Victoria given the state of COVID there at present. I reiterated our previous willingness to support WAL should we be asked to.
        p Chris S. :The key question will be whether wrestlers from other states can come to WA. If they cannot, it would not seem fair to have national championships and they should be cancelled. 
        p Chris B.: Perhaps we may consider inviting Wrestler’s from the other states to come and participate in our state championship tournament on 28th November. This will give those willing to travel and complete an opportunity to participate

        h3 Conditional financial support for potential Commonwealth Games athlete
        p Julian Giustiniano has expressed interest in entering the Commonwealth Games qualifier in Brisbane on 
            strong 16#[sup th] October
            | . However is unwilling to bear the risk of a 2-week imposed hotel quarantine. Discuss possibility of offering support in the event hotel quarantine is imposed. 
        p To take into consideration:
        ul 
            li Costs that would have usually been borne by association for interstate/international travel were not incurred in 2020-2021
            li Bank balance is strong
        p Normal registration ends on the 12#[sup th] October 2021. 

        h3 $90 invoice from Wrestling Australia 
        p There is an #[a(href='./attachments/invoice.pdf') invoice] from the national body for "2019 membership fees", due on 26#[sup th] Jan 2020 (last year).
        p From Martin Schumacher: 
        blockquote I can't see any "$90" payment by WA Wrestling, but could this $90 have been included in another payment by WA Wrestling, and then reconciled apart from this invoice?  Would you know?  Give me a call sometime if you think this is in error.

        h3 Propose officiating training
        p Suggest to hold officiating training prior to November tournament. In addition to refereeing, volunteers need to be given the opportunity to understand how officiating team works, how to fill score sheet, general protocol running of tournament etc. 

        h3 Classification points and high performance trophy update
        p Gladiators in the lead to take High Performance Trophy, Wolves second. Snapshot is #[a(href='./attachments/2021 High Performance.htm') here]. 
        p Rankings calculated on sum of classification points gained per club. 
        p Alternative calculation also presented, where club ranking is based on points per wrestler, summed over all tournaments. 

        //- Section
        h2 Matters for discussion
        h3 2022 tournament schedule
        p It is almost time to start sorting dates and venues. There was some talk about trying different venues so think we need a consensus before  booking Herb Graham again.

        //- Section
        h2 Matters for noting
        h3 Warriors mats have been purchased by the association for $4,000
        p Added to asset register (#[a(href='./attachments/Register.html') snapshot])
        h3 Social media campaign started
        p Started Monday 13#[sup th] September. 5 posts per week for the next few months. 
        h3 AMG postponed to April 2022
        h3 David attended SportsWest AGM Tuesday 7#[sup th] Sept
        h3  WAL sent through financial reports and will do so every month. 
        ul
            li #[a(href='./attachments/finance_07.pdf') July report]
            li #[a(href='./attachments/finance_08.pdf') August report]
       	
        //- Section
        h2 Next meeting
        p If the  the deferment of this meeting is ignored, the next meeting will be on Tuesday, 12#[sup th] September, 7pm at Majella School
        p ... or, four weeks from now, Tuesday, 19#[sup th] September