doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title WWA Board meeting: Annual General Meeting 2022
    body 
        h1 Wrestling WA Annual General Meeting 2022
       

        section 
            h2 Meeting opening and welcome

            h3 Attendance and apologies

            h3 Conflict of interest disclosure
            
            h3 Minutes of the previous meeting
            p Minutes can be found 
                // minutes
                a(href='https://client.revolutionise.com.au/wwa/reports/meetings/minutes/7251/') here

            h3 Treasurer's report

            h3 President's report

            h3 Nominations of Board Members
            
            p Nominations received:
            ul
                li Erica May
                li Amy Teo
                li Nadege Anderson
            
            h3 Meeting closed
